html {
    
   
    
}

head {
width:25%;
text-align:center; 
    
    
}
body {
    
   
    
}

.parallax-image {
  background: url("https://user-images.githubusercontent.com/121771999/212746784-908ad017-cc97-4782-a939-0014044e1bf9.png");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}
