html {
    
   
    
}

head {

    
    
}
body {
    
    background-image: url("https://user-images.githubusercontent.com/121771999/213036281-f9810c40-2818-4cc0-8a4e-0813409b225f.png");
    background-repeat: repeat-y;
    background-size: cover;
    
    


  
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}
